.gridLayoutCore
    display: grid

    > div
        display: contents

    \:global

        .w-grid-header-row
            display: contents

.gridLayout
    display: grid
    grid-auto-rows: auto
    gap: 1px
    width: calc(100% - 2px)
    margin-left: 1px

    > div
        display: contents

        > div
            font-family: Arial, Verdana, Tahoma

            outline: 1px solid #dcdcdc82
            padding: 6px
            font-size: 12px
            border-collapse: collapse

            &:first-child
                border-left: none

            &:last-child
                border-left: none


        &:nth-child(odd)
            > div
                background-color: #F7F7F7

        &:hover
            > div
                background-color: #eaeaea


    \:global


        .w-grid-header-row
            display: contents

            > div
                background-color: #fafafa !important
                font-weight: bold
                position: sticky
                top: 0
                padding-right: 0
                text-align: center
                font-size: 13px
                line-height: 1.42857
                color: #767676

                &:last-child
                    border-right: solid 1px transparent

            .w-grid-header-cell-in
                padding: 6px
                border-bottom: solid 1px rgb(230, 230, 230)
                outline: 1px solid rgba(0, 0, 0, .1)

                height: 100%
                user-select: none
                position: relative

            .w-grid-header-cell-in-clickable
                cursor: pointer

            .w-grid-header-cell-in-order
                float: left

            .w-grid-header-cell-in-filter
                position: absolute
                height: 100%
                top: 0
                right: 0
                padding: 4px

                &:hover
                    color: darkgreen


        .w-grid-header-conditions


            .w-grid-conditions-presenter
                display: flex
                align-items: baseline
                padding: 5px 0px
                background-color: white
                box-shadow: rgba(100, 100, 111, 0.2) 0px 9px 29px 0px
                border-bottom: solid 1px lightgrey
                font-weight: normal

                > div
                    cursor: pointer
                    border: solid 1px lightgrey
                    border-radius: 3px
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px
                    margin-right: 15px
                    margin-left: 5px
                    display: flex

                    &:hover
                        background-color: rgb(248, 248, 248)
                        border-color: darkgreen

                    > div
                        padding: 5px
                        padding-left: 10px


                    .w-grid-conditions-close

                        color: black
                        background-color: #e7e7e7
                        padding: 3px 10px
                        margin-left: 10px
                        border-radius: 0 3px 3px 0

                        &:hover
                            color: darkred



