
@mixin clearfix()
    &:before, &:after
        content: " "
        display: table

    &:after
        clear: both

.top-header
    color: black !important
//@import "theme-blue"

#top-header
    color: black !important




@import "./utils/DebugTool"

//@import "Vendors"
//@import "office-ui-fabric-core/dist/sass/Fabric.scss"
@import "./ctrl/SerenityControls"
@import "./backoffice/BackOfficePanel"




//.ms-Icon
    display: inline-flex
    vertical-align: middle




.btn
    display: inline-block
    border: 0
    color: black
    height: 32px
    line-height: 32px
    background-color: rgb(244, 244, 244)
    padding: 0px 16px
    font-weight: 400
    text-decoration: none
    &:hover
        background-color: rgb(234, 234, 234)
        text-decoration: none
    &:focus
        text-decoration: none
        color: black
        outline: none



    i
        vertical-align: bottom !important

.btn-sm
    height: 26px
    line-height: 26px
    padding: 0px 12px




.btn-primary
    color: white
    background-color: rgb(0, 120, 215)

    &:hover
        background-color: #005A9D
        color: white
    &:focus
        color: white
        background-color: rgb(0, 120, 215)
        outline: none

    &:disabled
        cursor: not-allowed
        opacity: .65
.btn-danger
    color: white
    background-color: rgb(215, 22, 26)

    &:hover
        background-color: rgb(191, 23, 26)
        color: white
    &:focus
        color: white
        background-color: rgb(191, 23, 26)
        outline: none

    &:disabled
        cursor: not-allowed
        opacity: .65

.form-group
    .btn
        height: 25px
        margin-bottom: 0
        line-height: 25px

.form-group
    label
        display: block
        height: 20px

.center
    text-align: center

.left
    text-align: left

.right
    text-align: right

.darkred
    color: darkred

.darkgreen
    color: darkgreen

.green
    color: green

.reed
    color: red

.grey
    color: grey

.lightgrey
    color: lightgrey

.label > div
    display: inline

#content
    background-color: #EEEEEE
    > div
        padding: 0







.navbar
    background-color: #FBFBFB
    margin-left: -15px
    border-radius: 0
    width: calc(100% + 30px)
    margin-bottom: 0
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)

.breadcrumb
    background-color: #FBFBFB

.field-error
    border-color: #be0000
.field-error-addon
    &:before
        content: "\f06a"
        font-family: FontAwesome
        margin-right: 5px
    background-color: white
    border: solid 1px #be0000
    padding: 5px
    border-radius: 0 0 5px 5px


.btn
    margin-right: 5px
    margin-bottom: 5px
    i





.amcharts-main-div
    a[title='JavaScript charts']
        display: none !important

.hr-line-dashed, hr
    border-top: 1px dashed #e7eaec
    color: #ffffff
    background-color: #ffffff
    height: 1px
    margin: 10px 0


form
    .bg-danger
        padding: 5px
        li
            list-style: square
            margin-left: 20px

.column-container
    margin: 0 15px

.table-panel
    margin: 10px
    background-color: white


.logo
    text-align: left !important
    //padding-left: 18px
    .ms-Icon
        background-color: #1570A6
        width: 59px
        text-align: center
        margin-right: 10px


a
    cursor: pointer



=clearfix()
    &:after
        visibility: hidden
        display: block
        font-size: 0
        content: " "
        clear: both
        height: 0

$screen-sm: 768px
$screen-md: 992px
$screen-lg: 1200px

=screen($media)

    @if $media == max-sm
        @media only screen and (max-width: $screen-md)
            @content
    @else if $media == max-md
        @media only screen and (max-width: $screen-lg)
            @content

    @else if $media == min-sm
        @media only screen and (min-width: $screen-sm)
            @content

    @else if $media == min-md
        @media only screen and (min-width: $screen-md)
            @content

    @else if $media == min-lg
        @media only screen and (min-width: $screen-md)
            @content

    @else if $media == xs
        @media only screen and (max-width: $screen-sm)
            @content

    @else if $media == sm
        @media only screen and (min-width: $screen-sm) and (max-width: $screen-md)
            @content

    @else if $media == md
        @media only screen and (min-width: $screen-md) and (max-width: $screen-lg)
            @content

    @else if $media == lg
        @media only screen and (min-width: $screen-lg)
            @content

.row
    > :first-child
        > div
            > .w-panel
                margin-left: 0 !important
                margin-right: 5px

        > .w-panel
            margin-left: 0 !important
            margin-right: 5px

    > :last-child
        > div
            > .w-panel
                margin-right: 0 !important
                margin-left: 5px

        > .w-panel
            margin-right: 0 !important
            margin-left: 5px

.w-panel-body-container-inner
    .w-tabs
        margin-top: 5px

    .panel-body-margins
        margin: 0


pre
    background-color: #eeeeee
    padding: 5px
    border-radius: 4px

.w-simple-table
    font-size: 12px