@import "../../sass/bootstrap"


$screen-sm: 768px
$screen-md: 992px
$screen-lg: 1200px

=screen($media)

    @if $media == max-sm
        @media only screen and (max-width: $screen-md)
            @content
    @else if $media == max-md
        @media only screen and (max-width: $screen-lg)
            @content

    @else if $media == min-sm
        @media only screen and (min-width: $screen-sm)
            @content

    @else if $media == min-md
        @media only screen and (min-width: $screen-md)
            @content

    @else if $media == min-lg
        @media only screen and (min-width: $screen-md)
            @content

    @else if $media == xs
        @media only screen and (max-width: $screen-sm)
            @content

    @else if $media == sm
        @media only screen and (min-width: $screen-sm) and (max-width: $screen-md)
            @content

    @else if $media == md
        @media only screen and (min-width: $screen-md) and (max-width: $screen-lg)
            @content

    @else if $media == lg
        @media only screen and (min-width: $screen-lg)
            @content


.row
    display: flex
    flex-wrap: wrap

    \:global

        @for $i from 1 through 12
            .row-el-#{$i}
                padding: 0 10px
                width: percentage($i / 12)

                +screen(sm)
                    min-width: 50%


                    &:nth-child(odd)
                        padding-left: 0

                    &:nth-child(even)
                        padding-right: 0

                +screen(xs)
                    min-width: 100%
                    padding: 0

    >div:nth-child(1)
        padding-left: 0

    >div:last-child
        padding-right: 0


.noGutters
    >div
        padding: 0 !important