.foundItemContainer
  overflow: auto
  max-height: 500px
.foundItem
  background-color: #efefef
  padding: 5px 5px
  border: solid 1px grey
  border-bottom: none

  &:hover
    cursor: pointer


  &:last-child
    border-bottom: solid 1px grey

.foundItemSelected
  color: red

.dropdown
  width: 100%
  border: 1px solid #cbd5dd

