{
    "presets": ["@babel/env", "@babel/typescript", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-typescript",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/proposal-class-properties", { "loose": true }],
        "@babel/proposal-object-rest-spread"
    ]
}
