.DateInput
    padding: 0 !important
    font-size: 16px
    line-height: 18px

.DateInput__display-text--focused
    border-radius: 0px !important

.SingleDatePicker__picker
    top: 33px
    z-index: 200

.DateInput--with-caret::before, .DateInput--with-caret::after
    display: none

.w-field-presentation, .w-field-presentation-select, .w-field-presentation-switch, .w-field-presentation-textarea
    line-height: 25px
    background-color: #f5f4f4
    padding-left: 10px
    border-radius: 2px


.w-field-presentation-textarea
    white-space: pre-wrap

.w-field-presentation-textarea
    min-height: 40px
    height: auto

.w-field-presentation-empty

    height: 25px
    background-color: #f9f9f9
    border-radius: 2px
    text-align: center
    color: lightgrey
    &:before
        content: "- - -"



.w-switch
    > div
        display: inline-block
        input
            display: none

        &:first-child
            .w-switch-label
                border-radius: 5px 0 0 5px

        &:last-child
            .w-switch-label
                border-radius: 0 5px 5px 0

        .w-switch-label
            cursor: pointer
            height: 28px
            padding: 4px 8px
            background-color: #f3f3f3
            color: rgb(140, 140, 140)
            &.w-switch-active
                background-color: #108EE9
                color: white

.w-file-upload
    .w-file-dropzone
        border: solid 1px grey
        padding: 5px
        padding-left: 20px
        cursor: pointer
        span
            i
                margin-right: 5px
        &:hover
            background-color: rgb(230, 230, 230)

    .w-file-dropzone-up-list
        > div
            +clearfix
            padding: 5px
            &:nth-child(even)
                background-color: rgb(230, 230, 230)

            border: dashed 1px transparent
            &:hover
                border: dashed 1px grey
            a
                display: block
                +clearfix()
            .w-file-dropzone-up-list-icon
                float: left

                margin-right: 10px
                img
                    max-width: 120px
                    max-height: 120px
                i
                    font-size: 20px
                    color: darkgreen

            .w-file-dropzone-up-list-name

                float: left
                color: darkgreen

            .w-file-dropzone-up-list-status
                float: right
                i
                    font-size: 12px
                    vertical-align: text-bottom
                    color: darkgreen

.w-field-presentation
    line-height: 25px
    &.w-field-presentation-textarea
        //white-space: pre
    &.w-field-presentation-checkboxgroup
        padding: 0
        margin: 0
        padding-left: 25px
        li
            list-style: square
            padding: 0


.form-control
    display: block

    border-width: 1px !important
    box-shadow: none !important

    padding: 3px 9px !important

    width: 100%
    height: 34px

    font-size: 14px !important
    line-height: 1.42857 !important
    color: #767676 !important
    background-color: #fff !important
    background-image: none !important
    border: 1px solid #cbd5dd !important
    border-radius: 0 !important

    box-shadow: none !important
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

input.form-control, select.form-control
    height: 28px !important



.form-horizontal .control-label
    padding-top: 3px

.selectivity-single-select
    height: 28px
    background-color: white
    border: 1px solid #cbd5dd
    line-height: 26px
    padding: 0
    border-radius: 0
    .selectivity-single-select-input
        padding: 0
        border: 0
        margin-top: -4px
    .selectivity-single-result-container
        top: 0
        margin: 0
        bottom: 0
    .selectivity-caret
        top: 3px
        font-family: "FabricMDL2Icons"
        &::before
            content: '\E972'



    .selectivity-single-selected-item-remove
        i
            font-style: normal
            font-size: 10px
            color: black
            &:before
                font-family: FabricMDL2Icons
                content: "\E8BB"








.selectivity-dropdown
    border-radius: 0
    position: absolute




.w-select
    .w-select-result-presenter
        min-height: 28px
        background-color: white
        border: 1px solid #cbd5dd
        line-height: 26px
        padding-left: 8px
        color: black
        cursor: pointer
        .w-select-placeholder
            color: grey
            display: inline-block
        i
            float: right
            margin-right: 10px

.w-select-overlay
    background-color: white
    border: 1px solid #cbd5dd
    outline: none
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)

    position: absolute
    z-index: 10000

    max-height: 400px
    overflow: auto
    .w-select-item
        padding: 4px
        cursor: pointer
        &:hover, .w-select-selected
            background-color: #4484c7
            color: white
    .w-select-selected
        background-color: #4484c7
        color: white

    input
        width: 100%
        line-height: 34px !important
        height: 34px !important
        border-top: 0
