.DateInput
    padding: 0 !important
    font-size: 16px
    line-height: 18px

.DateInput__display-text--focused
    border-radius: 0px !important

.SingleDatePicker__picker
    top: 33px
    z-index: 200

.DateInput--with-caret::before, .DateInput--with-caret::after
    display: none

.w-switch
    > div
        display: inline-block
        input
            display: none

        &:first-child
            .w-switch-label
                border-radius: 5px 0 0 5px

        &:last-child
            .w-switch-label
                border-radius: 0 5px 5px 0

        .w-switch-label
            cursor: pointer
            height: 28px
            padding: 4px 8px
            background-color: #f3f3f3
            color: rgb(140, 140, 140)
            &.w-switch-active
                background-color: #108EE9
                color: white

.w-file-upload
    .w-file-dropzone
        border: solid 1px grey
        padding: 5px
        padding-left: 20px
        cursor: pointer
        span
            i
                margin-right: 5px
        &:hover
            background-color: rgb(230, 230, 230)

    .w-file-dropzone-up-list
        > div
            +clearfix
            padding: 5px
            &:nth-child(even)
                background-color: rgb(230, 230, 230)

            border: dashed 1px transparent
            &:hover
                border: dashed 1px grey
            a
                display: block
                +clearfix()
            .w-file-dropzone-up-list-icon
                float: left

                margin-right: 10px
                img
                    max-width: 120px
                    max-height: 120px
                i
                    font-size: 20px
                    color: darkgreen

            .w-file-dropzone-up-list-name

                float: left
                color: darkgreen

            .w-file-dropzone-up-list-status
                float: right
                i
                    font-size: 12px
                    vertical-align: text-bottom
                    color: darkgreen

.w-field-presentation
    line-height: 25px
    &.w-field-presentation-textarea
        white-space: pre
    &.w-field-presentation-checkboxgroup
        padding: 0
        margin: 0
        li
            list-style: none
            padding: 0

.form-control
    display: block

    border-width: 1px
    box-shadow: none

    padding: 3px 9px !important

    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857
    color: #767676
    background-color: #fff
    background-image: none
    border: 1px solid #cbd5dd
    border-radius: 0

    box-shadow: none
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

input.form-control, select.form-control
    height: 28px !important



.form-horizontal .control-label
    padding-top: 3px
