.w-file-list
    .dropzone
        display: inline-block
        background-color: #108EE9
        color: white
        margin-top: 10px

        border: solid 1px lightgrey
        padding: 3px 10px
        cursor: pointer
        &:hover
            background-color: #ededed
            color: black

    .w-file-list-files
        width: 100%
        display: table
        .w-file-list-element

            width: 100%
            display: table-row
            > div
                display: table-cell
                padding: 5px 0
                height: 20px

            .w-file-list-name

                i
                    margin-right: 10px
                    font-size: 20px

                .w-file-list-upload-info
                    color: grey
                    font-style: italic
                    font-size: 12px

            .w-file-list-size
                width: 80px
                text-align: right


            .w-file-list-remove
                width: 30px
                text-align: center

    .w-file-list-gallery
        width: 100%
        position: relative
        .w-gallery-list
            +clearfix
            position: relative
            margin-left: -5px
            > div
                position: relative
                float: left
                margin: 5px
                width: 120px
                height: 100px
                margin-bottom: 20px
                text-align: center
                background-color: lightgrey
                padding: 5px
                white-space: nowrap

                .w-gallery-loader
                    height: 12px
                    border: solid 1px grey
                    border-radius: 5px

                    position: absolute
                    left: 10px
                    right: 10px
                    top: calc(50% - 10px)
                    > div
                        height: 10px
                        position: absolute
                        left: 0px
                        top: 0
                        background-color: #119fff
                        border-radius: 5px
                .w-gallery-upload-name
                    bottom: 3px
                    left: 3px
                    width: calc(100% - 6px)
                    overflow: hidden
                    position: absolute
                    text-overflow: ellipsis

                .w-gallery-name
                    color: black
                    font-size: 10px
                    margin-top: 7px
                    width: 100%
                    overflow: hidden
                    text-overflow: ellipsis

                > .w-image-box
                    cursor: pointer
                    height: 100%
                    > span

                        > span
                            display: inline-block
                            height: 100%
                            vertical-align: middle
                        > img
                            max-width: 100%
                            max-height: 100%
                            vertical-align: middle



                        > .w-gallery-on-hover
                            display: none
                            position: absolute
                            top: 0
                            left: 0
                            height: 100%
                            width: 100%
                            background-color: rgba(100, 100, 100, 0.3)

                            div
                                position: absolute
                                bottom: 0
                                left: 0
                                background-color: rgb(220, 220, 220)
                                color: black
                                width: 100%
                                text-align: center
                                padding: 2px
                                //text-overflow: ellipsis
                                //overflow: hidden
                                word-wrap: break-word

                            .w-gallery-delete, .w-gallery-drag
                                position: absolute
                                top: 0
                                font-size: 14px

                                background-color: rgb(220, 220, 220)
                                color: black

                                width: 20px
                                height: 20px
                                &:hover
                                    background-color: white

                            .w-gallery-delete
                                right: 0
                                border-radius: 0 0 0 3px
                                cursor: pointer
                            .w-gallery-drag
                                left: 0
                                border-radius: 0 0 3px 0
                                cursor: move
                    &:hover
                        .w-gallery-on-hover
                            display: block





.w-gallery
    .w-gallery-add
        float: left
        margin: 5px
        width: 120px
        height: 100px
        background-color: lightgrey
        text-align: center
        line-height: 100px
        cursor: pointer

        span
            vertical-align: middle
            i
                font-size: 18px
                vertical-align: text-bottom
        &:hover
            color: darkred

    .w-gallery-add-active
        background-color: red
    .w-gallery-list
        +clearfix
        > div
            position: relative
            float: left
            margin: 5px
            width: 120px
            height: 100px
            text-align: center
            background-color: lightgrey
            padding: 5px
            white-space: nowrap

            .w-gallery-loader
                height: 12px
                border: solid 1px grey
                border-radius: 5px

                position: absolute
                left: 10px
                right: 10px
                top: calc(50% - 10px)
                > div
                    height: 10px
                    position: absolute
                    left: 0px
                    top: 0
                    background-color: #119fff
                    border-radius: 5px
            .w-gallery-upload-name
                bottom: 3px
                left: 3px
                width: calc(100% - 6px)
                overflow: hidden
                position: absolute
                text-overflow: ellipsis

            > a
                cursor: pointer
                > span

                    > span
                        display: inline-block
                        height: 100%
                        vertical-align: middle
                    > img
                        max-width: 100%
                        max-height: 100%
                        vertical-align: middle

                    .fa-icon
                        font-size: 30px
                        vertical-align: text-bottom

                    > .w-gallery-on-hover
                        display: none
                        position: absolute
                        top: 0
                        left: 0
                        height: 100%
                        width: 100%
                        background-color: rgba(100, 100, 100, 0.3)

                        div
                            position: absolute
                            bottom: 0
                            left: 0
                            background-color: rgb(220, 220, 220)
                            color: black
                            width: 100%
                            text-align: center
                            padding: 2px
                            //text-overflow: ellipsis
                            //overflow: hidden
                            word-wrap: break-word

                        .w-gallery-delete, .w-gallery-drag
                            position: absolute
                            top: 0
                            font-size: 14px

                            background-color: rgb(220, 220, 220)
                            color: black

                            width: 20px
                            height: 20px
                            &:hover
                                background-color: white

                        .w-gallery-delete
                            right: 0
                            border-radius: 0 0 0 3px
                            cursor: pointer
                        .w-gallery-drag
                            left: 0
                            border-radius: 0 0 3px 0
                            cursor: move
            &:hover
                .w-gallery-on-hover
                    display: block

.w-gallery-dragging, .w-file-list-dragging

    width: 120px
    height: 100px
    text-align: center
    background-color: lightgrey
    span
        display: inline-block
        height: 100%
        vertical-align: middle
    img
        max-width: 100%
        max-height: 100%
        vertical-align: middle
    .w-gallery-on-hover
        display: none



