.w-overlay
    display: inline-block

.w-modal
    z-index: 100
    position: absolute
    background: white
    border: solid 1px lightgrey
    border-radius: 3px
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 0px 0px rgba(0, 0, 0, 0.23)

    top: 50% !important
    left: 50% !important
    transform: translate(-50%, -50%) !important

    .w-modal-close
        position: absolute
        right: 5px
        top: 5px
        display: block
        cursor: pointer
        color: black
        font-size: 16px

    .w-modal-title
        padding: 10px 50px 10px 10px
        font-size: 15px
        border-bottom: solid 1px lightgrey

    .w-modal-body

.w-shadow
    z-index: 90
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #b9b9b9
    opacity: 0.2

    .loader
        position: absolute
        top: calc( 50% - 10px )
        left: calc( 50% - 10px )

.w-shadow-fixed
    position: fixed

span.loader
    display: block
    width: 20px
    height: 20px
    animation: rotate 1.2s infinite linear
    transform: rotate(45deg)


    i
        width: 9px
        height: 9px
        border-radius: 100%
        background-color: #d40000
        transform: scale(.75)
        display: block
        position: absolute
        opacity: .3
        animation: opacity 1s infinite linear alternate
        transform-origin: 50% 50%
        &:first-child
            left: 0
            top: 0
        &:nth-child(2)
            right: 0
            top: 0
            animation-delay: .4s
        &:nth-child(3)
            right: 0
            bottom: 0
            animation-delay: .8s
        &:nth-child(4)
            left: 0
            bottom: 0
            animation-delay: 1.2s


//element.style

