.w-panel
    border-color: transparent
    margin: 10px
    border-width: 1px
    border-style: solid
    border-radius: 4px
    background-color: #fff
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)

    .panel-body
        padding: 15px 20px
        position: relative

        .title
            margin: -15px -20px 15px
            padding: 10px 15px
            font-size: 14px
            border-bottom: #F7F7F7 solid 1px
            background: #FFF
            font-family: Montserrat, sans-serif
            i
                margin-right: 5px
        .panel-toolbar
            float: right
            margin: -10px -0px 15px
            >*
                margin: 5px

    &.panel-no-bottom-margin
        margin-bottom: 0
    &.panel-no-padding
        border-radius: 0
        .panel-body
            padding: 0


    &.panel-toolbar
        .panel-body
            padding: 9px 15px