.w-debug-comm-log
    bottom: 5px
    position: fixed
    max-height: 200px
    background-color: #ededed
    z-index: 1000
    color: black
    padding: 5px
    border: solid 1px grey
    overflow: hidden
    .w-debug-comm-log-title
        span
            font-weight: bold
            padding: 2px
        a
            float: right
            font-size: 10px
            color: darkred
            margin-left: 18px
            color: black !important


    table
        background-color: white
        thead
            th
                font-size: 12px
                padding: 4px 20px 4px 4px
                text-align: left
        tbody
            td
                font-size: 12px
                padding: 4px 20px 4px 4px
                border: 1px solid gainsboro


.w-debug-comm-log-inspect
    pre
        margin: 0 !important
        overflow: auto
        max-height: 90vh
        font-size: 12px

        min-width: 600px


