

.w-common-input

    input, select
        width: 100%
        display: block
        padding: 1px 9px
        height: 32px
        font-size: 14px
        line-height: 1.42857
        color: #767676
        background-color: #fff

        border: 1px solid #cbd5dd
        border-radius: 0


    label
        display: block
        font-size: 14px
        height: 20px
    .w-read-only
        width: 100%
        height: 32px
        background-color: #ececec
        line-height: 32px
        padding-left: 9px



.w-common-input-invalid
    input
        border: 1px solid darkred

.w-form-errors
    > div
        margin: 5px 0
        padding: 4px 5px
        background-color: #ececec
        border-left: solid 4px darkred
        border-radius: 2px


.w-field-errors
    > div
        margin: 5px 0
        padding: 4px 5px
        background-color: #ececec
        border-left: solid 4px darkred
        border-radius: 2px

