.back-office-body
    padding: 0
    margin: 0
    *
        box-sizing: border-box

.w-panel-container

    background-color: #EEEEEE

    .w-panel-top
        height: 50px
        width: 100%
        background-color: black
        color: white

        >div
            float: right
            line-height: 50px
            height: 50px


        .app-title, .app-icon
            float: left
            svg
                height: 100%
                width: 100%
                padding: 8px




        .app-icon

            background-color: #0078D7
            width: 60px
            text-align: center
            margin-right: 10px
            cursor: pointer
            padding-top: 4px
            svg
                font-size: 25px
            &:hover
                background-color: #124B7D
                transition: background-color 200ms linear

        .w-loader
            padding-top: 14px
            opacity: 0
            transition: opacity .3s ease-in-out
            i
                background-color: white
            &.w-loader-hidden
                opacity: 1

        .app-lang-change
            a
                color: white
                text-transform: uppercase
                margin-right: 10px

        .app-user
            padding: 0 20px
            cursor: pointer
            .app-user-icon
                float: left
                margin-top: 10px
                margin-right: 10px
                background-color: lightgray
                width: 30px
                height: 30px
                line-height: 30px
                text-align: center
                border-radius: 15px
                font-size: 30px
                color: black
            &:hover
                background-color: #124B7D
                transition: background-color 200ms linear


    .w-panel-body-container

        display: flex
        flex-wrap: nowrap
        height: calc( 100% - 50px )

    .w-panel-body-container-inner
        display: block
        height: auto








    .w-panel-body
        //height: calc( 100% - 50px )

        flex-grow: 1
        overflow: auto

        &::-webkit-scrollbar-track
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

            background-color: #F5F5F5


        &::-webkit-scrollbar

            width: 15px
            background-color: #F5F5F5


        &::-webkit-scrollbar-thumb
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
            background-color: grey




