{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "chrome >= 59"
          ],
          "node": "current",
          "corejs": "3"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}