.w-command-menu
    display: inline-block
    cursor: pointer

.w-command-menu-layer
    background-color: white
    border: solid 1px grey
    border-radius: 4px
    >div

        padding: 13px
        padding-right: 20px
        border-bottom: solid 1px lightgray
        cursor: pointer
        font-size: 12px
        white-space: pre
        i
            color: grey
        &:hover
            background-color: lightgray

        svg
            vertical-align: text-bottom
